* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 400;
}

cite,em {
  font-style: italic;
}

/* main.css */

*,body,html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: teal;
  font-family: "Roboto Slab", sans;
}
.container {
  width:1200px;
  margin: 0 auto;
  background-color: lightgreen;
}



/***********clearfix**************/

.clear:after,
.clear:before {
  content: "";
  display: table;
  clear: both;
}

/***********header**************/

header {
  height: 450px;
  width: 100%;
  background: url(../assets/media/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

header h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 40%;
}


nav {
  width: 22%;
  margin: 0 auto;
}


nav li {
  display: inline-block;
  list-style: none;
  font-size: 20px;
  padding: 11px;
  }

a {
  text-decoration: none;
  color: black;
}

/***********section************/

.sec-1 {
  background-color: lightpink;
  margin-top: 8px;
  height: 600px;
}


.wrapper {
  padding-top: 4em;
}

.col-1-2,
.col-1-3 {
  width: 31%;
  float: left;
  margin-left: 20px;
}

img,
video,
audio {
  margin: 0px 38px;
}


img {
  height: 250px;
  padding-left: 20px;
}

audio {
  width: 22%;
  vertical-align: top;
  margin-top: 5em;
}

video{
  height: 250px ;
  width: 350px;
} 


article {
  margin-top: 20px;
  text-align: center;
}

/***********section 2***************/

.sec-2 {
  background-color: yellowgreen;
  height: 850px;
  text-align: center;
}

.sec-2 h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.frame {
  background: #fff;
  width: 900px;
  padding: 40px 0px;
  text-align: center;
  position: relative;
  left: 12%;
  bottom: 4%;
}
.para-2 {
  margin-top: .5em;
  padding: 5em;
}


/*************section 3*****************/


.sec-3 {
  background-color: #fff;
  width: 75%;
  height: 45%;
  margin: 4em auto;
}

fieldset {
  border: none;
  border-radius: 5px;
  height: 600px;
  box-shadow: 3px 3px 7px rgba(0,0,0,.7), 
            -3px -3px 7px rgba(0,0,0,.7); 
}


fieldset p {
  text-align: center;
  font-size: 28px;
  margin: 20px 0px;
  padding-left: 1.3em;
}

input,
textarea{
  position: relative;
  left: 4%;
  font-size: 18px;
  margin-left: 4px;
}


.style-form input[type="text"],
.style-form input[type="email"]{
  width: 45.7%;
  padding: 18px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.3);
}

input[type="text"] {
  width: 92.3%;
  padding: 18px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.3);
}

textarea {
  width: 92.3%;
  height: 50%;
  margin: 15px 2px;
  padding: 1em;
}

input[type="button"] {
  display: block;
  width: 40%;
  padding: 18px;
  border-radius: 2px;
  color: white;
  font-size: 1em;
  border: 1px solid rgba(0,0,0,.3);
  background: linear-gradient(gray,rgba(0,0,0,.6));
  /*margin: 5px auto 15px auto;*/
  transform: translate(70%,10%);
  margin-bottom: 15px; 
}

/****************footer**************/

footer {
  background-color: rgba(0,0,0,.8);
}

footer iframe{
  margin: 0 auto; 
  position: relative;
  left: 12.2%;
  padding: 40px 0px;
}
footer ul li {
  margin-bottom: 2em;
}
footer nav li a {
  color: #fff;
}

/***********psudeo classes**************/

header a:hover {
  color: white;
}


footer a:hover {
 color: orange;
}

 input[type=text]:focus,
 input[type=email]:focus,
 textarea:focus {
  outline: 0;
  border: 1.5px solid blue;
}


/************MEDIA QUERIES***************/




@media  screen and (max-width: 800px) {

.sec-1,,
.wrapper,
.sec_2,
.sec_3,
footer,
iframe,
nav li {
  max-width: 100%;
}


.sec-1 {
  height: 1400px;
  max-height: 100%;
}

.wrapper {
  margin:;
}

.col-1-3 {
  width: 90%;
  margin-left: 4em;
  float: none;
}


.para_1 {
  margin-left: 2em;
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 2em;
}

audio,
.col-1-2{
  width: 35%;
  height: 250px;
  float: none;
  display: inline-block;
  margin-top: -2.5em;
  margin-left: 5em;
}


audio {
  position: absolute;
  top: 50%;
  width: 60%;
}

video {
  width: 80%;
  height: 10%;
  margin: 1.2em 8em;
}


.sec-2{
  height: 55%;
 max-height: 100%;
 padding: 4em;
}



.sec-2 h1{
 font-size: 6em;
 margin:0; 
}


.sec-2 p{
 font-size: 1.6em;
 margin: 0;
 padding: 1em;
}



.frame,
iframe {
  max-width: 80%; 
}

nav li,
footer ul li{
  width: 100%;
  display: block;
  padding: 0px;
  text-align: center;
  font-size: 2.1em;
  margin: .5em;
}

nav li {
  margin: 0.1em;
  background-color: ;
  position: relative;
  bottom: 1em;
}

header h1 {
  font-size: 4em;
  padding-top: 1em;
}

}
