* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 		main.css 		*/

* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body {
	background-color: papayawhip;
	text-align: center;
	text-transform: capitalize; 
}

li {
	padding: 13px 0px 0px 1.2em;
	color: white;
	font-weight: bold;
	list-style-position: inside;
	text-align: left;
}


a {
	text-decoration: none;
	color:white;
}

/*				header				*/

nav li {
	display: inline-block;
	padding: 26px 1.3em;
	color: white;
	font-size: 1.2em;
	font-weight: 100;
}

.nav--top {
	background-color: #f06d06;
	height: 70px;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	opacity: .9;
	z-index: 5;
}

.nav--top ul {
	transform: translateX(-14.5%);
}

.nav--top li:hover {
	background-color: blue;
	
}


/*****main******/


/********section-1***********/

.box {
	display: inline-block;
	height: 490px;
	width: 300px;
	background-color: darkslateblue;
	box-shadow: 8px 8px 13px black;
	vertical-align: top;
	margin: 120px 20px; 	
}

.decimal {
	list-style: decimal;
}

.box--3 li {
	list-style-type: none;
	list-style-image: url(../assets/media/ok.png);
	padding-left: 2.4em;
}


/*********section-2*********/	


.sec--2 {
	max-width: 1070px;
	width: 100%;
}

dl {
	transform: translateX(38%);
	font-family: sans-serif;
	margin-bottom: 2em;
	font-family: 'Roboto Slab', serif;
}


.heading {
	margin-bottom: 1em;
	text-align: left;
	font-family: monospace;
}

dl dt {
	font-size: 26px;
	font-weight: 100;
}

dl dd {
	text-align: left;
	line-height: 1.3;
	margin-left: 1.5em;
}


/********footer********/


footer {
	background-color: rgba(0,0,0,0.8); 
	height: 72px; 
}


.nav--btm {
	max-width: 1070px;
	width: 100%;
	transform: translateX(9%);
}

.nav--btm li:hover {
	background-color: teal;
}