* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 400;
}

cite,em {
  font-style: italic;
}

/* main.css */


html {
  box-sizing: border-box;
}

/*
  Clearfix
*/
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  clear: both;
  *zoom: 1;
}

body {
  box-sizing: border-box;
  color: #888;
  font: 300 22px "Open Sans", "Helvetica Neue", Helvetica , Arial;
  background: #293f50;
}


img {
  height: 200px;
  width: 280px;
  border-radius: 10px;
}
/* grid */


.container {
  margin: 0 auto;
  width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
}


.col-1-3 {
  width: 31%;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.grid {
   margin: 0 auto;
  width: 1070px;
  padding-left: 1px;
  padding-right: 10px;
}

/*  btn   */

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  border: 2px solid #dfe2e5;
  padding: 10px 30px;
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
  line-height: 44px; 
}


h4 {
  font-size: 18px;
  color: #a9b2b9
  font-weight : 400;
}


h5 {
   color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  padding:5px;
  color:#648880; 
}

a:hover {
  color:#a9b2b9;
}




.logo {
  padding: 40px 0 22px 0;
  border-top: 4px solid #648880;
  margin-top: -20px;
  margin-left: 24%;
  line-height: 44px;
  float: left;
  margin-right: 1%;
  position: absolute;
  top: 3.1%;
  font-weight: 100;
  font-size: 46px;
}

.tagline {
  margin: 66px 0 22px 0; 
  text-align: right;
}


a {
  text-decoration: none; 
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: right;
}

.hero {
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
  margin-top: 30px;
}


.hero--1 {
  line-height: 44px;
  padding: -10px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #fff;
}



footer {
  padding-bottom: 44px;
  padding-top: 44px;
  float: left;
  margin-left: 20%;
  width: 58%;
}

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px; 
  }

.primary-footer-small {
  text-align: right;
 
}


p a{
  border-bottom: 1px solid #dfe2e5;
}



/*  speakers.html css style  */

.hero--3 {
  line-height: 44px;
  padding: -10px auto;
  text-align: center;
  margin-top: 40px;
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
}

.col-2-3 {
  width: 100%;
  margin-bottom:60px;
  padding: -10px; 
  margin-top: -40px;
}

.col-2-3 h1 {
  font-weight: 100;
}


.col-2-3 p {
  width: 100%;
  margin-top:-30px;
 
}

.col-1-1 {
    background-color: #fff;
    margin-top: -21px;
}

article {
  padding: 20px 20px 10px 90px;
  font-size: 18px;
  position: relative;
}
article p {
  text-align: left;
  width: 70%;
  text-indent: 1px;
  font-size: 17px;
  line-height: 1.3;
}

article a {
  position: absolute;
  left: 77%;
  top: 37%;
  }
article .btn {
  padding: 60px;
}
article h3 {
  font-size: 36px;
  font-weight: 100;
  margin: ;
}  
article h4 {
  font-size: 24px;
  font-weight: 100;
}

ul li {
  display: inline-block;
  padding: 0px 10px;
}

.img--1 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  float: right;
  position: relative;
  left:-11%;
  margin-top: -3.3em; 
  display: inline-block;
  z-index: 2;
}


/****************venue.css****************/

.wrapper {
  background-color: white;
}

.venue-theatre {
  margin-bottom: 66px;
}
.venue-hotel {
  margin-bottom: 22px;
}
.col-3-3 {
  height: 264px;
  width: 500px;
  margin-top: 20px;
  margin-left: -80px;
}
.col-4-3 {
  text-align: center;
}

.col-4-3 h2 {
  text-align: left;
}
.vertical {
  vertical-align: top;
  font-weight: 100;
}



/**************register.html****************/


.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}

form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}

.btn-default {
  border: 0;
  background: #648880;
  padding:15px 60px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
