/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main.css starts here */


.heading__one {
  font-size: 20px;
  margin-left: 20px;
}

.sec__one {
  width: 25%;
  display: inline-block;
  
}

.sec__two {
  width: 45%;
  display: inline-block;
  margin-top: 10px;
}

.sec__one div,
.sec__two div {
  width: 150px;
  height: 100px;
  background-color: red;
  margin: 20px;
}

.box__one {
   border: 5px solid black; 
}

.box__two {
  border: 5px solid black; 
}

.box__three {
  border: 5px dotted black;
}

.box__four {
   visibility: hidden;
}

.box__five {
  border: 5px dashed black;
}

.box__six {
  border: none;
}

/* exercise one and two */

.wrapper {
  width: 23%;
}


.nxt__ex--1,
.nxt__ex--2 {
  margin: 30px 0px 20px 20px;
  padding: 20px;
}


h2 {
  margin-bottom : 20px;
  margin-top: 100px;
  margin-left:20px;
  font-size: 24px;
}


.nxt__ex--1 {
  background-color: limegreen;
}



.nxt__ex--2 {
  background-color: limegreen;
  width: 60%;
}



.content__box .demo {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing:content-box;
}


.border__box .demo {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  margin-left: 40px;
}


.demo {
  height: 10px;
  width: 180px;
  border: 10px solid red;
  text-align: center;
  padding: 30px 50px 37px 50px;
  background-color: lightgreen;
  margin: 20px 20px 15px 30px;
}
