
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********main.css**************/

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
    text-decoration: none;
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
}

h3 {
    font-size: 3rem;
    color: black;
    font-weight: 100;
    line-height: 1;
    padding: 2rem 0;
}
h4 {
    color: orange;
    padding: 1rem 0;
}
h5{
    font-size: 1.4rem;
}
.container{
    max-width: 1860px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: grid;
}

/***********HEADER************/

.home--left{
    background: url(../assets/media/home-img.jpg) no-repeat 30%;
    height: 90vh;
    display: flex;   
    transform: scale(1);
    /* transition: all .8s ease; */
}
/* .home--left:hover {
    transform: scale(1.03);
} */
.logo {
    position: relative;
    top: 5%;
    left: 15%;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}
.home--right{
    height: 90vh;
    background-color: rgba(217, 238, 176, 0.7);
}
nav ul {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
nav li {
    padding: 1.2rem;
}
.highlighted {
    color: green;
}
a:hover {
    color: green;
}
nav label,
#toggle{
    display: none;
}

span {
    font-weight: bold;
}
.content{
    color: grey;
    display: grid;
    height: 40vh;
    text-align: left;
    align-content: end;
    padding: 3rem;
    line-height: 2;
    margin: 12rem 0;
}
 
.btn {
    border: 2px solid black;
    border-radius: 25px;
    padding: .5rem;
    width: 13rem;
    text-align: center;
    color: black;
    margin-top: 2rem;
}
.btn:hover{
    color: grey;
    border-color: gray;
}

/***********ABOUT************/
.about{
    display: grid;
    text-align: left;
    padding:0rem 0.009rem;
}
.about--left{
    padding: 2rem;
}
.about p {
    margin-top: 1rem;
    line-height: 1.5;
    color: gray;
    padding: 1rem 1rem 0rem 0rem;
    font-size: 1.1rem;
}
 .img {
    background: url(../assets/media/about-img.jpg) no-repeat top;
    height: 40vh;
    /* transition: all .7s ease; */
}
/* .img:hover{
    transform: scale(1.04);
    box-shadow: 1px 1px 1px black;
} */
.skills{
    padding-left: 4rem;
    background: rgb(240, 181, 72);
    height: 40vh;
    width: 100%;
}
.skills h3,
.skills h4 {
    color: white;
}
.skills p {
    padding-bottom: 1rem; 
    font-weight: bold;
    color: black;
}
progress[value] {
    appearance: none;
    border: 1px solid black;
    border-radius: 20px; 
    width: 70%;
    height: .3rem;
 }
progress[value]::-webkit-progress-value {
    background: red; 
}
p[data-value]:after {
   content: attr(data-value);
   text-align: right;
   position: relative;
   left:14%;
}

.about__btm {
    height: 40vh;
    padding: 0rem;
    color: white;
}
.about__btm p {
    color: white;
}
.design,
.strategy,
.app,
.code{
    height: 40vh;
    padding: 4rem 2rem;
    text-align: center;
}

.design{
    background: rgb(240, 181, 72);
}
.strategy{
    background: rgb(218, 105, 71);
}
.app{
    background: black;
}
.code p {
    color: gray;
}
.code h5 {
    color: black;
}
.code i {
    color: black;
    font-size: 3.2rem;
}
i{
    padding: 2.2rem;
    font-size: 2.5rem;
}

/************Experiences***************/

.exp--left {
    background: url(../assets/media/experience-img.jpg) no-repeat top left;
    height: 40vh;
    transition: all .7s ease;
}
.exp--left:hover{
    transform: scale(1.03);
}
.exp--right{
    height: 40vh;
    background: rgb(218, 105, 71);
    color: white;
    text-align: left;
    padding-left: 5rem;
}
.exp__right--top h4 ,
.test--left h4{
    color: white;
}
.exp--right i,
.test--left i {
    padding-left: 0rem;
}
.exp__right--top,
.exp__right--bottom,
.test--left {
    color: white;
}
.exp__right--bottom span,
.test--left span{
    color: rgb(34, 33, 33);
    padding: 1rem;
} 

.exp__right--top h3,
.test--left h3{
    color: white;
}

/**********Testimonail***************/

.test--left{
    height: 50vh;
    background: rgb(240, 187, 89); 
    text-align: left;
    padding: 3rem 5rem;
    color:white;
}
.test--right{
    height: 50vh;
    background: url(../assets/media/education-img.jpg) no-repeat center;
    transition: all .7s ease;
}
.test--right:hover{
    transform: scale(1.03);
}

/********CONTACT***********/

.contact--left,
.contact--right{
    height: 60vh;
}
.contact--left{
    background-color: rgb(228, 111, 76);
    padding: 2rem 0rem;
    color: white;
}
.contact--left h3{
    color: white;
}
button{
    border: none;
    background: white;
    border-radius: 25px;
    padding: 1.1rem 8rem;
    box-shadow: -1px -1px -5px rgb(61, 61, 61);
    transform: translateX(-90%);
}
button a {
    font-size: 1.3rem;
    letter-spacing: 1px;
}
button:hover{
    color: black;
    background: none;
    border: 2px solid black;
}

.contact__img {
    background: url(../assets/media/contact-img.jpg) no-repeat 50% 30%;
    height: 60vh;
    /* transition: all .7s ease; */
}

/* .contact__img:hover{
    transform: scale(1.03);
} */
.contact_left--top{
    transform: translate(11%);
    text-align: left;
}
.contact_left--bottom{
    display: flex;
    justify-content:center;
}
input{
    display: flex;
    border: none;
    outline: none;
    padding: 1rem;
    width: 40vw;
    background: none;
    margin: 3rem;
    text-align: left;
    border-bottom: 1px solid orange; 
    font-size: 1.2rem;
    color: white;
}
.major{
    padding-bottom: 5rem;
}
.contact--info {
    background: rgb(34, 33, 33);
    height: 60vh;
    text-align: left;
    padding: 2vw;
}
.contact--bottom{
    background: rgb(228, 111, 76);
}
.info--top{
    color: gray;
    font-size: 1.2rem;
}
.info--top h3,
.info--bottom h3{
    color: white;
    font-size: 2rem;
}
.info--bottom{
    padding-top: 2rem;
}
.info--bottom li{
    padding: 1rem;
    color: gray;
    font-size: 1.2rem;
}
.info--bottom a {
    color: brown;
}
.info--bottom i {
    font-size: 1.2rem;
    padding: 0rem;
}
.fa-phone{
    transform: rotateY(180deg);
}
iframe{
    padding: 3rem;
    width: 70vw;
}

/**************FOOTER***************/
footer{
    height: 50vh;
    display: grid;
    align-content: center;
    word-spacing: .2rem;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer span {
    font-weight: 100;
    border-left: 1px solid black;
    padding-left: 7px;
}
footer i {
    font-size: 1.7rem;
}

@media screen and (max-width: 1050px){
    .contact--bottom{
        height: 50vh;
    }
    nav label{
    display: block;
    padding: 0;
    margin:0;
    font-size: 2rem;
}
    label{
        float: right;
    }
    nav{
        position: fixed;
        left:30%;
        top:4%;
        width: 50%;
    }
    nav ul {
        display: none;
    }
    nav li {
        border-bottom: 1px solid gray;
        background: rgba(87, 86, 86, 1);
    }
    nav a{
        color: white;
    }

    #toggle:checked + ul {
        display: block;
    }
}