/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* style.css starts here */

.main__1,
.main__2,
.main__3 {
	width: 560px;
	border: 1px solid green;
	margin: auto;
	margin-top: 5%;
	box-sizing: content-box;
	}

.box__one ,
.box__two,
.box__three {
	width: 160px;
 	height: 100px;
 	background-color: lightgreen;
 	display: inline-block;
 	margin: 10px;
}

.main__2 .box__one,
 .main__2 .box__two,
 .main__2 .box__three {
 	border: 10px solid black;
}

.main__3 .box__one,
.main__3 .box__two,
.main__3 .box__three {
 	box-sizing: border-box;
 	display: inline-block;
 	border: 10px solid black;
 	margin: 10px 11px 2px 12px;
}
