/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*======================main.css=========================*/

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}


/*===================header=======================*/

.dis {
  display: none;
}

#hero {
  position: relative;
  top: 2.5em;
}

nav ul {
  float: right;
}

nav li {
  display: inline-block;
  margin: 1em .5em 1em .5em;
  padding: 0em .5em;
  position: relative;
  bottom: 1em;
  left: 1.8em;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  border-bottom: 1px solid black; 
}


/*======================main section========================*/


.main__section {
  width: 61.3333%;
  float: left;
}

.sub__section {
  width: 35.3333%;
  float: left;
  margin-left: 1em;
  position: relative;
  left: 2.5em;
}

h2 {
  margin: 1em 0em;
  font-weight: bold;
}

p {
  color: red;
  text-align: left;
}




/********************MEDIA QUERIES*************************/



@media screen and (max-width: 1000px) {
  

  .dis {
    display: block;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    background-color: lightblue; 
  }

  .dis a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  #hero {
    position: relative;
    top: .1em;
    margin: 3em 0em;
    width: 30%;
  }

  nav ul {
    float: none;
    margin-top: 1em;
  }

  nav li {
    width: 100%;
    background-color: lightgreen;
    text-align: center;
    font-size: 1.8em;
    padding: .5em;
    margin: .1em;
    position: relative;
    left: 0;
    height: 2em;
  }

  img {
    width: 100%;
  }
  .main__section,
  .sub__section {
    width: 100%;
    text-align: left;
    font-size: 2.2em;

  }

  .sub__section {
    position: relative;
    left: -1em;
  }

}