/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* main.css */


body {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: lightgray;
}
.wrapper {
  width: 55%;
  height: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px; 
  font-size: 14px;
  padding: 10px 0px 0px 10px;
}


h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px 10px;
}

section {
  margin-top: 20px;
}

.display {
  background-color: salmon;
  display: inline-block;
}

.art__1,
.art__2 {
  width: 42%;
  padding: 10px;
  border-radius: 10px; 
  margin-bottom: 20px;

}
span {
  background-color: white;
}

.float {
  background-color: springgreen;
  float: left;
}

.col--1 {
  width: 33%; 
}

.same--width .art__1,
.same--width .art__2 {
  background-color: salmon;
  width: 48%;
  display: inline-block;
}

.floated--width .art__3,
.floated--width .art__4 {
  background-color: springgreen;
  float: left;
  width: 48%;
  border-radius: 5px; 
  padding: 5px;
  margin-bottom: 10px;
}
